### Project dependencies ###

#Kaggle
kaggle

#Caching
cachetools

#Image processing
opencv-python
scikit-image
sklearn

#Plotting
matplotlib
pydot
graphviz

#Progress bars
tqdm

#Image transformation
geos
shapely
imgaug

#Graphics visualization
pydub

#Dropbox
dropbox

#Bidirectional dictionary
bidict

#Math computations
pandas

#Refactoring library
rope

#Memory analysis
objgraph
