### Project dependencies ###

#Deep learning
tensorflow
keras

#Image processing
opencv-python
scikit-image
sklearn

#Plotting
matplotlib
pydot
graphviz

#Progress bars
tqdm

#Advanced code constructs
funcy

#Image transformation
geos
shapely
imgaug
